body {
    background-color: #DBCFB0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 12px;
    background-color: #343434;
}

header img {
    width: 50%;
}

.sites {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.botao{
    padding: 12px 8px;
    background-color: #DBCFB0;
}

.introducao {
    display: flex;
    justify-content: space-evenly;
}

.introducao img {
    width: 55%;
}

.topico {
    display: flex;
    justify-content: center;
}

.topico img {
    width: 55%;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: #343434;
}

footer img {
    width: 10%;
}

